@import url('variables.css');

.home_page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

.home_page>div {
    width: 40%;
}

.home_left>h1 {
    font-size: 5rem;
    line-height: 4.5rem;
    margin: 10px 0px;
    padding: 0px;
}

.home_left>p {
    margin: 0px;
    letter-spacing: 2px;
    font-weight: 700;
}

.home_left>p span {
    color: var(--primary-color);
}

.home_btn{
    padding: 10px 20px;
    width: 150px;
    border-radius: 10px;
    background-color: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 10px 0px;
    color: white;
    font-size: 13px;
}


@media screen and (max-width:768px) {
    .home_page {
        flex-direction: column;
        padding-top: 50px;
    }

    .home_page>div {
        width: 90%;
        margin: auto;
    }

    .home_left>h1{
        font-size: 3rem;
        line-height: 2.5rem;
    }
    .home_image {
        width: 400px !important;
        margin: auto;
        object-fit: con;
        background-color: red;
        border: 1px solid red;
    }
}