.post_body{
    width:75%;
    margin: 20px auto;
    border: 2px solid rgba(128, 128, 128, 0.114);
    padding: 15px 0px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.post_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
}
.post_header_left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
}

.post_icon{
    border-radius: var(--full-radius);
}

.post_icon:hover{
    opacity: 0.7;
    transition: .5s;
}

.post_header_text h4{
    font-size: 15px;
}
.post_header_text p{
    font-size: 11px;
    margin-top: 3px;
}



.post_media{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 10px 0px;
}


.post_footer{
    padding: 5px 0px;
}

.footer_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px auto;
}

.footer_box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: var(--full-radius);
}

.footer_box:hover{
    background-color: rgb(14, 14, 14);
}

.light .footer_box:hover{
    background-color: rgb(242,242,242);
}

.footer_box p{
    margin-left: 5px;
}


@media screen and (max-width:768px) {
    .post_body{
        width: 90%;
    }

    .post_header_left{
        width: 60%;
    }
}